* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
}

header {
    height: 5%;
    text-align: center;
}

#top {
    height: 10%;
    text-align: center;
}
#left {
    float: left;
    width: 20%;
    height: 100%;
}
#middle {
    float: left;
    width: 60%;
}
#middle_top {
    height: 70%;
}
#middle_bottom {
    height: 30%
}
#right {
    float: right;
    width: 20%;
    height: 100%;
}

.container {
    border-radius: 20px;
    border: 1px solid black;
    overflow-y: scroll;
    padding: 20px;
}

#weather {
    max-height: 25%;
    background-color: aqua;
}

#schools {
    max-height: 50%;
    background-color: aliceblue;
}

#crime {
    max-height: 25%;
    background-color: firebrick;
}

#rate {
    max-height: 30%;
    background-color: gold;
}

#tweets {
    max-height: 30%;
    background-color: cornflowerblue;
}
