.weather, .schools_generator {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    /* width: 200px; */
    height: 150px;
    overflow-y: scroll;
}

#map {
    height: 400px;
    width: 500px;
    border: 2px solid black;
}
